
@media only screen and (max-width: 600px) {

    #toolbar {
        display: none;
    }

    #container {
        flex-direction: column;
    }

    /* LOGIN AND SIGNUP PAGE */

    #login-header, #signup-header, #contact-header, #about-header, #home-header {
        flex-direction: column;
    }

    #contact-header nav, #about-header nav, #home-header nav {
        width: 100%;
    }

    #login-wrapper, #signup-wrapper, #contact-wrapper {
        width: 60%;
        margin: 30px auto;
        padding: 20px;
        
    }
}

@media only screen and (max-width: 1000px) {

    #login-header, #signup-header, #contact-header, #about-header, #home-header {
        box-shadow: 0px 0px 5px #ccc;
    }
    
    #container {
        flex-direction: column;
        
    }



    .left {
        display: none; 
    }

    .center h1 {
        font-size: 20px;
    }
}